/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #282a30;
  --bg-color: #dadeef;
  --main-color: #0d8fda;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  position: relative;
}

.bg_image {
  position: absolute;
  z-index: -1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* inheriting the color of the body tag */
}

input,
button {
  border: none;
  outline: none;
  font-family: inherit;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  animation: fade-in 0.4s; /* applying animation */
}

.logo {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.link:hover {
  color: #fff;
}

.link__btn {
  padding: 5px 8px;
  background-color: var(--main-color);
  color: white;
  border-radius: 2px;
}

.link__btn:hover {
  opacity: 0.8;
}

/* Main */
main {
  max-width: 1150px;
  background-color: white;
  height: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 35px;
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.07);
  animation: fade-in 0.4s 0.1s backwards;
  overflow: hidden;
}

/* Intro section */
.intro {
  display: flex;
  background-color: black;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #f3f5f8;
}

.search h1 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.1;
  width: 383px;
}

.photos {
  display: flex;
}

.text {
  font-style: italic;
  text-decoration: underline;
  font-weight: 700;
}

.form {
  width: 383px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input,
.form button {
  height: 61px;
  width: 100%; /* Takes the width of its parent element*/
  padding: 0 30px;
}

.form button {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
  border-radius: 2px;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.5s;
}

.form button:hover {
  opacity: 0.8;
}

.form i {
  position: absolute;
  font-size: 17px;
  color: #adb4c2;
}

/* selecting first i element inside form */
.form i:nth-of-type(1) {
  top: 22px;
  left: 10px;
}

.form i:nth-of-type(2) {
  top: 98px;
  left: 10px;
}

/* CREDENTIALS */

.credentials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  border-bottom: 1px solid #f2f3f8;
}

.credentials p {
  font-size: 20px;
  font-weight: 600;
  color: #ccd0d9;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.credentials img {
  width: 100px;
}

/* how section */

.how-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second-heading {
  padding: 20px 0;
  font-size: 32px;
  color: #292c33;
  text-transform: capitalize;
  font-weight: 500;
}

.second-heading::after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: violet;
  display: block;
  margin: 0 auto;
}

.steps {
  width: 100%;
  display: flex;
  padding: 40px 0;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.step {
  max-width: 250px;
  text-align: center;
}

.step-icon {
  height: 65px;
  width: 65px;
  background-color: black;
  border-radius: 5000px; /* to  make it circle*/
  color: white;
  line-height: 65px; /* to align the icon in the center*/
  margin-bottom: 21px;
  font-size: 22px;
}

.step:nth-child(1) .step-icon {
  background-color: #fdf6de;
  color: #f5ca36;
}

.step:nth-child(2) .step-icon {
  background-color: #ffdeec;
  color: #da196a;
}

.step:nth-child(3) .step-icon {
  background-color: #e9e5ff;
  color: #4d31e4;
}

.third-heading {
  font-size: 23px;
  color: #3d4048;
  font-weight: 500;
  margin-bottom: 10px;
}

.step p {
  color: #74777d;
  font-size: 18px;
}

.more-info {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
  font-size: 18px;
  padding-bottom: 5px;
  transition: all 0.5s;
}

.more-icon {
  font-size: 14px;
  transition: all 0.3s;
}

.more-info:hover {
  opacity: 0.8;
}

.more-info:hover .more-icon {
  transform: translateX(3px);
}

/* Footer */

.footer {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a1a4b0;
  padding: 0 20px;
  padding-bottom: 50px;
}

.legal-list {
  display: flex;
  gap: 15px;
}

.legal-link {
  font-size: 14px;
  text-transform: capitalize;
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
  main {
    margin-left: 25px;
    margin-right: 25px;
  }

  .photo-2 {
    display: none;
  }
}

@media (max-width: 965px) {
  .search {
    padding: 40px 0 30px;
  }
}

@media (max-width: 780px) {
  .photo-1 {
    display: none;
  }

  .credentials {
    padding: 15px 0;
  }

  .credentials p {
    font-size: 20px;
  }

  .credentials img {
    width: 80px;
  }
}

@media (max-width: 445px) {
  .credentials {
    padding: 10px 0;
  }

  .credentials p {
    font-size: 15px;
  }

  .credentials img {
    width: 60px;
  }

  .search h1 {
    font-size: 30px;
    margin-bottom: 25px;
    padding: 0 8px;
  }

  .second-heading {
    font-size: 25px;
  }

  .steps {
    flex-direction: column;
  }

  main {
    height: 1300px;
  }

  .form {
    padding: 0 10px;
  }

  .form i {
    padding-left: 4px;
  }
}
